
#di{
  background-color: rgba(224, 197, 197, 0.789);
  }
  body{
      margin: 0;
  
      background: #ffffff; 
  
    }
  
    .layer-2{
    animation-direction: alternate-reverse;
    animation-duration: 4s;
    }
    .layer-3{
    animation-duration: 5s;
    }
    @keyframes animate {
      0%{
      transform: translateX(-50%);
      }
      100%{
      transform: translateX(50%);
      }
    }
    /* .hex{
  
  } */