@import '../client/src/App.css';
@import '../client/src/index.css';

#di {
  background-color: rgba(224, 197, 197, 0.789);
}

body {
  margin: 0;
}

.bg-area {
  position: fixed;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

.layer-2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.layer-3 {
  animation-duration: 5s;
}

@keyframes animate {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}



@import '../client/src/index.css';

#di {
  background-color: rgba(224, 197, 197, 0.789);
}

body {
  margin: 0;
}

.bg-area {
  position: fixed;
  left: -50%;
  right: -50%;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

.layer-2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.layer-3 {
  animation-duration: 5s;
}

@keyframes animate {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}




